<header id="main-header">
    <div id="logo" style="display: flex; align-items: center;">
        <a href="/" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
            <img src="/images/Designer.png" alt="Jovanni Logo"
                style="max-width: 80px; height: auto; margin-right: 10px;" />
            <span style="font-size: 24px; font-weight: bold;">Jovanni</span>
        </a>
    </div>
    <nav>
        <%- include('nav-items') %>
    </nav>
    <button id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>
<aside id="mobile-menu">
    <nav>
        <%- include('nav-items') %>
    </nav>
</aside>