* {
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", "sans-serif";

    --color-blue-50: #e3f2fd;
    --color-blue-100: #bbdefb;
    --color-blue-200: #90caf9;
    --color-blue-300: #64b5f6;
    --color-blue-400: #42a5f5;
    --color-blue-500: #2196f3;
    --color-blue-600: #1e88e5;
    --color-blue-700: #1976d2;
    --color-blue-800: #1565c0;
    --color-blue-900: #0d47a1;

    --color-white: #ffffff;

    --color-error-100: #ffcdd2;
    --color-error-500: #f44336;

    --color-primary-500-bg: #e3f2fd;

    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;

    --border-radius-small: 4px;
    --border-radius-medium: 6px;

    --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--color-blue-50);
    color: var(--color-blue-900);
    margin: 0;
}

main {
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-blue-400);
}

.btn {
    cursor: pointer;
    font: inherit;
    padding: var(--space-2) var(--space-6);
    background-color: var(--color-blue-500);
    color: var(--color-white);
    border: 1px solid var(--color-blue-500);
    border-radius: var(--border-radius-small);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn:hover,
.btn:active {
    background-color: var(--color-blue-700);
    border-color: var(--color-blue-700);
}

.btn-alt {
    background-color: transparent;
    color: var(--color-blue-500);
}

.btn-alt:hover,
.btn-alt:active {
    background-color: var(--color-primary-500-bg);
}

.alert {
    border-radius: var(--border-radius-small);
    background-color: var(--color-error-100);
    color: var (--color-error-500);
    padding: var(--space-4);
}

.alert h2 {
    font-size: 1rem;
    margin: var(--space-2) 0;
    text-transform: uppercase;
}

.alert p {
    margin: var(--space-2) 0;
}

.badge {
    margin-left: var(--space-2);
    padding: 0.15rem var(--space-4);
    border-radius: 10rem;
    background-color: var(--color-blue-500);
    color: var(--color-white);
}